print("starting replica set init ...");
rs.initiate( {
   _id : "{{ replication_set_name }}",
   members: [
   {% for vm in groups['servers'] %}
   { 
     _id : {{loop.index0}}
     ,host : "{{ vm }}:27017"
     {% if hostvars[vm].mongo_priority is defined %}
     ,priority : {{ hostvars[vm].mongo_priority }}
     {% endif %}
     {% if hostvars[vm].mongo_hidden is defined %}
     ,hidden : {{ hostvars[vm].mongo_hidden }}
     {% endif %}
   },
   {% endfor %}
   ]
})
print("replica set init done");
printjson(rs.status());

/* TODO: add conditional properties to enable security
print("start loop");
for (i =0;i<=30; i++) {
   print("start loop.  iteration:"+i);
   var isMaster=db.isMaster().ismaster;
   print("isMaster:"+isMaster);
   if(isMaster === true) {
     break;
   }
   print("start sleep");
   sleep(1000);
   print("stop sleep");
}
db.createUser(
  {
    user: "admin",
    pwd: "mongo",
    roles: [ { role: "userAdminAnyDatabase", db: "admin" },{ "role" : "clusterAdmin", "db" : "admin" } ]
  }
);
*/

